@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  font-family: "Open Sans";
}

.appTitle {
  color: #FFFFFF;
  margin: 70px auto;
  background-color: #76EBFF;
  width: 500px;
  height: 70px;
  line-height: 70px;
  border-radius: 5px;
  border: none;
  font-weight: thin;
  font-size: 30px;
}

/* COMMENT FORM */

.formBox {
    margin: 50px auto;
    width: 400px;
    height: 60px;
    position: relative;
}

.inputText {
  height:55px;
  width: 100%;
  border-radius: 4px;
  border:2px solid #76EBFF;
  padding: 2px 5px;
}

.formBox button {
  position:absolute;
  top: 2px;
  right: 20px;
  border: none;
  height:45px;
  width:25px;
  border-radius:100%;
  text-align:center;
  padding: 0;
  color: #76EBFF;
  background-color: #FFFFFF;
  font-size: 18px;
}

.inputForm textarea:focus, input:focus, button:focus {
    outline: none;
}

::placeholder, input {
    color: #76EBFF;
    font-size: 20px;
}

/* COMMENTS LIST */

.commentsList, .listItem {
  margin: 10px auto;
  list-style-type: none;
}

.listItem {
  display: block;
}

.commentText {
  font-size: 20px;
  color: #B7AD99;
  display: block;
  margin: 5px;
}

.commentVotes {
  color: #B7AD99;
  display: block;
  margin: 5px;
}

button {
  font-size: 12px;
  margin: 5px; 
  border-radius: 50%;
  width, height: 35px;
  padding: 5px;

}

button:focus {
  outline: none;
}

.btnDelete {
  background-color: #B7AD99;
  border: none;
  color: #FFFFFF;
} 

.btnUp {
  background-color: #37FF8B;
  border: none;
  color: #FFFFFF;
}

.btnUp:hover {
  background-color: #FFFFFF;
  border: 2px solid #37FF8B;
  color: #37FF8B;
}
.btnDown {
  background-color: #FF4365;
  border: none;
  color: #FFFFFF;
}

.btnDown:hover {
  background-color: #FFFFFF;
  border: 2px solid #FF4365;
  color: #FF4365;
}

